--
-- PostgreSQL database dump
--

-- Dumped from database version 12.22 (Debian 12.22-1.pgdg120+1)
-- Dumped by pg_dump version 12.22 (Debian 12.22-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fduration(integer, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fduration(days integer, term character varying) RETURNS double precision
    LANGUAGE plpgsql
    AS $$
BEGIN
    CASE term
        WHEN '╨║╨╛╤А╨╛╤В╨║╨░╤П' THEN RETURN z_fig(days, 1, 2);
        WHEN '╨╜╨╛╤А╨╝╨░╨╗╤М╨╜╨░╤П' THEN RETURN trap(days, 3, 4, 6, 8);
        WHEN '╨┤╨╛╨╗╨│╨░╤П' THEN RETURN s_fig(days, 7, 12);
    END CASE;
END;
$$;


ALTER FUNCTION public.fduration(days integer, term character varying) OWNER TO postgres;

--
-- Name: fpayment(integer, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fpayment(val integer, term character varying) RETURNS double precision
    LANGUAGE plpgsql
    AS $$
BEGIN
    CASE term
        WHEN '╨┤╨╡╤И╨╡╨▓╨░╤П' THEN RETURN z_fig(val, 1500, 2500);
        WHEN '╤Б╤А╨╡╨┤╨╜╤П╤П' THEN RETURN trap(val, 2000, 3500, 4500, 6000);
        WHEN '╨┤╨╛╤А╨╛╨│╨░╤П' THEN RETURN s_fig(val, 5000, 8000);
    END CASE;
END;
$$;


ALTER FUNCTION public.fpayment(val integer, term character varying) OWNER TO postgres;

--
-- Name: fsalary(integer, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fsalary(val integer, term character varying) RETURNS double precision
    LANGUAGE plpgsql
    AS $$
BEGIN
    CASE term
        WHEN '╨╜╨╕╨╖╨║╨╕╨╣' THEN RETURN z_fig(val, 35000, 50000);
        WHEN '╤Б╤А╨╡╨┤╨╜╨╕╨╣' THEN RETURN trap(val, 45000, 55000, 65000, 75000);
        WHEN '╨▓╤Л╤Б╨╛╨║╨╕╨╣' THEN RETURN s_fig(val, 70000, 90000);
    END CASE;
END;
$$;


ALTER FUNCTION public.fsalary(val integer, term character varying) OWNER TO postgres;

--
-- Name: s_fig(double precision, double precision, double precision); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.s_fig(x double precision, a double precision, b double precision) RETURNS double precision
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF x <= a THEN RETURN 0;
    ELSIF x >= b THEN RETURN 1;
    ELSE RETURN (x - a) / (b - a);
    END IF;
END;
$$;


ALTER FUNCTION public.s_fig(x double precision, a double precision, b double precision) OWNER TO postgres;

--
-- Name: trap(double precision, double precision, double precision, double precision, double precision); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trap(x double precision, a double precision, b double precision, c double precision, d double precision) RETURNS double precision
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF x <= a OR x >= d THEN RETURN 0;
    ELSIF x >= b AND x <= c THEN RETURN 1;
    ELSIF x > a AND x < b THEN RETURN (x - a) / (b - a);
    ELSE RETURN (d - x) / (d - c);
    END IF;
END;
$$;


ALTER FUNCTION public.trap(x double precision, a double precision, b double precision, c double precision, d double precision) OWNER TO postgres;

--
-- Name: z_fig(double precision, double precision, double precision); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.z_fig(x double precision, a double precision, b double precision) RETURNS double precision
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF x <= a THEN RETURN 1;
    ELSIF x >= b THEN RETURN 0;
    ELSE RETURN (b - x) / (b - a);
    END IF;
END;
$$;


ALTER FUNCTION public.z_fig(x double precision, a double precision, b double precision) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assignments (
    id integer NOT NULL,
    employee_id integer,
    work_id integer,
    start_date date,
    end_date date,
    paid_sum integer
);


ALTER TABLE public.assignments OWNER TO postgres;

--
-- Name: assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assignments_id_seq OWNER TO postgres;

--
-- Name: assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assignments_id_seq OWNED BY public.assignments.id;


--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    id integer NOT NULL,
    full_name text NOT NULL,
    salary integer NOT NULL
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.employees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.employees_id_seq OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.employees_id_seq OWNED BY public.employees.id;


--
-- Name: letters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.letters (
    id bigint NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    period_start bigint NOT NULL,
    period_end bigint NOT NULL,
    details text NOT NULL,
    image_url text,
    is_active boolean DEFAULT true
);


ALTER TABLE public.letters OWNER TO postgres;

--
-- Name: letters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.letters_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.letters_id_seq OWNER TO postgres;

--
-- Name: letters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.letters_id_seq OWNED BY public.letters.id;


--
-- Name: manuscript_letters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manuscript_letters (
    manuscript_id bigint NOT NULL,
    letter_id bigint NOT NULL,
    quantity bigint DEFAULT 1,
    is_active boolean DEFAULT true
);


ALTER TABLE public.manuscript_letters OWNER TO postgres;

--
-- Name: manuscripts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manuscripts (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    created_at timestamp with time zone,
    submitted_at timestamp with time zone,
    finished_at timestamp with time zone,
    moderator_id bigint,
    calculated_period character varying(50),
    manuscript_text text
);


ALTER TABLE public.manuscripts OWNER TO postgres;

--
-- Name: manuscripts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.manuscripts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manuscripts_id_seq OWNER TO postgres;

--
-- Name: manuscripts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.manuscripts_id_seq OWNED BY public.manuscripts.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    is_moderator boolean DEFAULT false,
    role integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: works; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.works (
    id integer NOT NULL,
    work_name text NOT NULL,
    payment integer NOT NULL
);


ALTER TABLE public.works OWNER TO postgres;

--
-- Name: works_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.works_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.works_id_seq OWNER TO postgres;

--
-- Name: works_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.works_id_seq OWNED BY public.works.id;


--
-- Name: assignments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments ALTER COLUMN id SET DEFAULT nextval('public.assignments_id_seq'::regclass);


--
-- Name: employees id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees ALTER COLUMN id SET DEFAULT nextval('public.employees_id_seq'::regclass);


--
-- Name: letters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letters ALTER COLUMN id SET DEFAULT nextval('public.letters_id_seq'::regclass);


--
-- Name: manuscripts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuscripts ALTER COLUMN id SET DEFAULT nextval('public.manuscripts_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: works id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.works ALTER COLUMN id SET DEFAULT nextval('public.works_id_seq'::regclass);


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assignments (id, employee_id, work_id, start_date, end_date, paid_sum) FROM stdin;
1	1	1	2024-01-01	2024-01-02	1500
2	2	2	2024-01-02	2024-01-05	3500
3	3	3	2024-02-10	2024-02-20	7000
4	4	4	2024-01-15	2024-01-18	9000
5	5	5	2024-03-01	2024-03-01	2500
6	1	3	2024-04-01	2024-04-10	7000
7	2	4	2024-05-05	2024-05-08	9000
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees (id, full_name, salary) FROM stdin;
1	╨Ш╨▓╨░╨╜╨╛╨▓ ╨Ш.╨Ш.	40000
2	╨Я╨╡╤В╤А╨╛╨▓ ╨Я.╨Я.	55000
3	╨б╨╕╨┤╨╛╤А╨╛╨▓ ╨б.╨б.	70000
4	╨Ъ╤Г╨╖╨╜╨╡╤Ж╨╛╨▓ ╨Ъ.╨Ъ.	90000
5	╨Р╨╗╨╡╨║╤Б╨╡╨╡╨▓ ╨Р.╨Р.	30000
\.


--
-- Data for Name: letters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: manuscript_letters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.manuscript_letters (manuscript_id, letter_id, quantity, is_active) FROM stdin;
1	2	5	t
1	3	1	t
2	1	1	t
2	2	1	t
3	1	1	t
4	1	1	t
4	2	1	t
5	2	1	t
6	1	232	t
10	2	5	t
10	3	10	t
11	3	10	t
\.


--
-- Data for Name: manuscripts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password, is_moderator, role) FROM stdin;
1	scribe1	hashed_password1	f	0
8	user3	$2a$10$uA1uebZc8R4LV1sce.GN1u2d.NtJukoUkhdSoGSS2vekbdGFc6hn6	f	2
2	moderator1	hashed_password2	t	1
10	by1	$2a$10$i3jruFRx49ATIoMr1fkAMOx2ToNMAykffbtMVYH6CgyFd102zZAm.	f	0
11	ad1	$2a$10$NCMLhNxqnIjqyPckxMulmuPKkkcZgnR34cpL6GK9VJehq.0KDGpgq	f	2
12	newuser	$2a$10$fNccNEkwEqBiFKe9lsRa9OFiXnKJMiFju6nkcHmCriUEqzfTqwJn.	f	0
\.


--
-- Data for Name: works; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.works (id, work_name, payment) FROM stdin;
1	╨а╨░╨╖╨│╤А╤Г╨╖╨║╨░ ╤В╨╛╨▓╨░╤А╨░	1500
2	╨Ш╨╜╨▓╨╡╨╜╤В╨░╤А╨╕╨╖╨░╤Ж╨╕╤П ╤Б╨║╨╗╨░╨┤╨░	3500
3	╨Э╨░╤Б╤В╤А╨╛╨╣╨║╨░ ╨╛╨▒╨╛╤А╤Г╨┤╨╛╨▓╨░╨╜╨╕╤П	7000
4	╨г╤З╨░╤Б╤В╨╕╨╡ ╨▓ ╨▓╤Л╤Б╤В╨░╨▓╨║╨╡	9000
5	╨Ф╨╛╨║╤Г╨╝╨╡╨╜╤В╨╛╨╛╨▒╨╛╤А╨╛╤В	2500
\.


--
-- Name: assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assignments_id_seq', 7, true);


--
-- Name: employees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_id_seq', 5, true);


--
-- Name: letters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.letters_id_seq', 9, true);


--
-- Name: manuscripts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.manuscripts_id_seq', 11, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 12, true);


--
-- Name: works_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.works_id_seq', 5, true);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: letters letters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letters
    ADD CONSTRAINT letters_pkey PRIMARY KEY (id);


--
-- Name: manuscript_letters manuscript_letters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuscript_letters
    ADD CONSTRAINT manuscript_letters_pkey PRIMARY KEY (manuscript_id, letter_id);


--
-- Name: manuscripts manuscripts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuscripts
    ADD CONSTRAINT manuscripts_pkey PRIMARY KEY (id);


--
-- Name: users uni_users_username; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uni_users_username UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: works works_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.works
    ADD CONSTRAINT works_pkey PRIMARY KEY (id);


--
-- Name: assignments assignments_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- Name: assignments assignments_work_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_work_id_fkey FOREIGN KEY (work_id) REFERENCES public.works(id);


--
-- Name: manuscript_letters fk_manuscript_letters_letter; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuscript_letters
    ADD CONSTRAINT fk_manuscript_letters_letter FOREIGN KEY (letter_id) REFERENCES public.letters(id);


--
-- Name: manuscript_letters fk_manuscripts_letters; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuscript_letters
    ADD CONSTRAINT fk_manuscripts_letters FOREIGN KEY (manuscript_id) REFERENCES public.manuscripts(id);


--
-- Name: manuscripts fk_manuscripts_moderator; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuscripts
    ADD CONSTRAINT fk_manuscripts_moderator FOREIGN KEY (moderator_id) REFERENCES public.users(id);


--
-- Name: manuscripts fk_manuscripts_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuscripts
    ADD CONSTRAINT fk_manuscripts_user FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

